.hero {
  background: url("/images/jacob-garlough-jYbkFDsfE2M-unsplash.jpg")
    center/cover no-repeat;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  inset: 0;
}

.hero-content {
  position: relative;
  z-index: 2;
}

.feature-icon {
  font-size: 3rem;
  color: #0d6efd;
}
